<h1>グループメンバー一覧</h1>
	<ul>
		<% @members.each do |member| %>
		<li><%= member.email %> | <%= link_to 'メンバー登録解除', member_deregister_group_path(member_id: member.id), method: :patch%></li>
		<% end %>
	</ul>